/* This file is for common style of the webpage. */

/* company logo font */
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

body {
  color: var(--font-light);
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-M);
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-image: url("../assets/bg.jpg");
  background-color: #000000;
}

button {
  margin-left: 1%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gugi", cursive;
  margin-top: 0;
  margin-bottom: 0;
}

h1,
h4,
label,
.nav-link {
  color: var(--brand-color);
}

h1 i {
  padding-left: 8px;
}

h2 {
  color: var(--accent-color);
}

h3 {
  color: var(--accent-color);
  font-size: var(--font-M);
  background-color: var(--accent-color-dark);
  border-radius: var(--h-radius);
  display: block;
  padding: 8px 15px;
}

h4 {
  margin-bottom: 20px;
}

h5 {
  margin: 20px auto;
  color: var(--brand-color);
  font-size: var(--font-L);
}

.section-margin {
  width: 80%;
  margin: auto;
}

.box-shadow-block {
  background-color: #ffffffde;
  box-shadow: var(--box-shadow-PC);
  border-radius: var(--section-radius);
  padding: 20px;
}

/* floating email button */

.floating-email-btn {
  background-color: var(--accent-color-dark);
  position: fixed;
  bottom: 30px;
  right: 40px;
  line-height: 40px;
  box-shadow: var(--box-shadow-PC);
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: 0.4s;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.floating-email-btn a {
  color: var(--accent-color);
}

/* reset user agent stylesheet */

ul {
  padding-inline-start: 0;
}

.body_wrapper {
  margin-top: 40px;
  padding-bottom: 50px;
  padding: 0 25px;
}

@media (min-width: 750px) {
  .body_wrapper {
    margin: auto;
    margin-top: 60px;
    width: 700px;
    padding-bottom: 50px;
  }
}
