:root {
  --accent-color-dark: #284452;
  --accent-color-light: #e87461;
  --accent-color: #ffffff;
  --box-shadow-PC: 0 0 10px #44444454;
  --brand-color: #4c87a9;
  --bg-dark-light: #c2c2c2;
  --font-dark-light: #c0c0c0;
  --font-dark: #3d5467;
  --font-light: #e7e7e7;
  --font-L: 18px;
  --font-M: 14px;
  --font-S: 12px;
  --font-XL: 38px;
  --font-XS: 10px;
  --section-bg-color: #ededef;
  --section-margin: 30px;
  --section-radius: 5px;
  --h-radius: 20px;
  --input-radius: 5px;
}
